body {
    margin: 0;
    background-color: #0E0D0D;
    font-family: 'Montserrat', sans-serif;
}



.h2--kit {
    margin: 20px 0 6px 0;
    color: #FEFEFE;
    padding-left: 20px;
    font-size: 40px;
    font-weight: bold;
}

hr {
    margin: 60px;
}

.text--comment {
    padding: 0 0 20px 20px;
    color: #FEFEFE;
    opacity: .5;
    font-size: 12px;
}

.grid-container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 20px 20px 20px;
}

.grid-style{
    background-color: #B5FF00;
    height: 200px;
}

.col{
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.col--size-1 {
    width: 8.3%;
}

.col--size-2 {
    width: 16.6%;
}

.col--size-3 {
    width: 25%;
}

.col--size-4 {
    width: 33.3%;
}

.col--size-5 {
    width: 41.6%;
}

.col--size-6 {
    width: 50%;
}

.col--size-7 {
    width: 58.3%;
}

.col--size-8 {
    width: 66.6%;
}

.col--size-9 {
    width: 75%;
}

.col--size-10 {
    width: 83.3%;
}

.col--size-11 {
    width: 91.6%;
}

.col--size-12 {
    width: 100%;
}

.grid-header {
    background-color: #1E1C1C;
    height: 80px;
}

.grid-sidebar{
    background-color: #1E1C1C;
    height: 528px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 528px;
    margin: 0 -10px 0 -10px;
}

.text {
    background-color: #1E1C1C;
    height: 48px;
    margin: 0;
}

.previous--video {
    background-color: #1E1C1C;
    height: 408px;
    margin: 0 20px 0 0;
}

.next--video {
    background-color: #1E1C1C;
    height: 408px;
    margin: 0;
}

.row--video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: #1E1C1C;
    height: 112px;
}